{% extends 'base.html' %}

{% block bodyblock %}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat:wght@500;900&family=Orelega+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <br><br>
        <h3 class="display-6" style="color:#6DA1B2; font-family: Montserrat; font-weight:bold; font-size: 70px; padding-top: 40px; padding-bottom: 30px;">
            welcome to nora.ai
            <img class="image-fluid" src="/static/hello.png" alt="" width="120">

        </h3>
        <br>
        <p style="color: white; font-family: Montserrat; letter-spacing: 1px;">
            Nora.ai is an end-to-end facial recognition software that performs gender classification on human faces. 
        </p>
        <p style="color: white; line-height:40px; font-family: Montserrat; letter-spacing: 1px;">
            Facial features are extracted using OpenCV's Haar Cascade Classifier and thereafter, recognized <br>by computing eigenfaces using PCA (Principal Component Analysis). 
        </p>
    
    </div>    
</body>

{% endblock %}

rgb(44, 81, 97)
#6DA1B2